.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 768px;
    height: 80px;
    background-color: #131313;
}

.header-logo {
    align-self: center;
    width: 83px;
    height: 16px;
    margin-left: 40px;
}

.header-menu {
    display: flex;
    justify-self: flex-end;
    align-items: center;
}

.header__links-list {
    display: flex;
    gap: 35px;
    margin-right: 40px;
    color: #F5F5F5;
    list-style-type: none;
    text-decoration: none;
}

.header__links-list-item-list {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.header__links-list-item {
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.hero {
    display: flex;
    width: 768px;
    height: 382px;
    background-color: #2F2C45;
}

.hero-text {
    align-self: center;
    color: #F5F5F5;
    font-size: 50px;
    font-weight: 700;
    margin-left: 40px;
    line-height: 50px;
}

.cover {
    display: flex;
    flex-direction: column;
    width: 768px;
    height: 750px;
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 30px;
}

.cover-title {
    font-size: 30px;
    font-weight: 600;
    padding-right: 10px;
}

.cover-text {
    font-size: 20px;
    font-weight: 500;
    padding-top: 30px;
    line-height: 30px;
}

.section-card {
    width: 768px;
    height: 1587px;
    background-color: #2F2C45;
}

.section-card-title {
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 700;
    line-height: 58px;
    margin-left: 35px;
    padding-top: 60px;
}

.card-list {
    display: flex;
    flex-flow: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 33px;
}

.card {
    width: 330px;
    height: 605px;
    background-color: #EDF0F9;
    border-radius: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.card-title {
    color: #131313;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    padding: 30px 25px 0 30px;
}

.card-text {
    color: #131313;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    padding: 15px 25px 0 30px;
}

.card-image {
    width: 330px;
    height: 180px;
    border-radius: 20px 20px 0 0;
}

.card-image-one {
    background-image: url(/images/6.jpg);
}

.card-image-two {
    background-image: url(/images/6\ \(1\).jpg);
}

.card-image-three {
    background-image: url(/images/6\ \(2\).jpg);
}

.card-image-four {
    background-image: url(/images/6\ \(4\).jpg);
}

.about {
    width: 768px;
    height: 330px;
    background-color: #F2C94C;
}

.about-text {
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    padding: 60px 20px 0 40px;
}

.text-accent {
    color: #589F46;
}

.text-change {
    color: #7125BC;
}

.section-article {
    width: 768;
    height: 955px;
}

.footer {
    width: 768px;
    height: 80px;
    background-color: #131313;
}